#flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}
#border{
  margin: 30px;
  border: none;
  padding: 5px;
  
}
#flex1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.center{
  text-align: center;
}
.cntral{
  text-align: center;
}
.alincen{
  text-align: center;
  margin: 30px;

}
#wid{
  margin: 200px;
  justify-content: space-between;
}
#flex{
 display: flex;
 justify-content: end;
 gap: 1rem;
 margin-top: 20px;
 margin-right: 10px;

}
.mar{
  margin-top: 40px;

}
.alcen{
  text-align: center;
  margin: bottom 5px;
}