#flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  
}
#border{
  margin: 30px;
  border: 1px solid black;
  padding: 10px;
  
}
#flex1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}
.center{
  text-align: center;
}
.cntral{
  text-align: center;
}
.alincen{
  text-align: center;
  margin: 30px;

}
#wid{
  margin: 200px;
}
#flex{
 display: flex;
 justify-content: end;
 gap: 0.5rem;
}
.mar{
  margin: 10px;
}
.alcen{
  text-align: center;
  margin: bottom 5px;
}